@use "../src/theme/colors.theme.scss" as colors-theme;

@use "../../integra-ng/src/lib/themes/color-variables.scss" as vars;

@import "primeicons/primeicons.css";

@include colors-theme.define-color-palette(light);
@include colors-theme.define-color-palette(dark);

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: vars.$color-surface-ground;
  color: vars.$color-text-primary;
  box-sizing: border-box;
  font-size: 1em;
}

.component-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 100%;
  overflow-x: auto;

  .ui-section {
    display: flex;
    align-items: baseline;
    gap: 16px;
    padding: 16px;
    flex-wrap: wrap;
  }
}
