.sidebar {
  width: 100%;
  height: 100%;
  background-color: #1e293b; // Tailwind slate-800 vibe
  color: #f1f5f9;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  user-select: none;

  transition: transform 0.2s, left 0.2s;
  background-color: var(--surface-overlay);
  padding: 24px 12px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.05),
    0px 1px 4px rgba(0, 0, 0, 0.08);
}
